body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
main{

    margin: 20px;
}

#medicine-sections {
    display: flex;
    flex-wrap: wrap;
}

.medicine-section {
    margin: 20px;
    flex: 1 1 300px;
}

.medicine-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.medicine-card img {
    width: 100%;
    height: auto;
}

#cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#cart-table th, #cart-table td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: left;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #45a049;
}


